/* Component styles. Edit directly; no utility compiler is used. */

.src-components-country-select-country-select-div-1 {
  position: relative;
}
.src-components-country-select-country-select-span-2 {
  pointer-events: none;
  position: absolute;
  top: calc(1 / 2 * 100%);
  left: calc(var(--spacing) * 3);
  display: flex;
  --otri-translate-y: calc(calc(1 / 2 * 100%) * -1);
  translate: var(--otri-translate-x) var(--otri-translate-y);
  align-items: center;
}
.src-components-country-select-country-select-span-3 {
  border-radius: 2px;
}
.src-components-country-select-country-select-ul-4 {
  position: absolute;
  top: 100%;
  right: 0px;
  left: 0px;
  z-index: 40;
  margin-top: var(--spacing);
  max-height: calc(var(--spacing) * 72);
  overflow: auto;
  border-radius: var(--radius-lg);
  border-style: var(--otri-border-style);
  border-width: 1px;
  border-color: var(--color-slate-200);
  background-color: var(--color-white);
  padding-block: var(--spacing);
  --otri-shadow: 0 1px 0 rgb(25 25 29 / .04);
  box-shadow: var(--otri-inset-shadow), var(--otri-inset-ring-shadow), var(--otri-ring-offset-shadow), var(--otri-ring-shadow), var(--otri-shadow);
}
.src-components-country-select-country-select-li-5 {
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 2);
  font-size: var(--text-sm);
  line-height: var(--otri-leading, var(--text-sm--line-height));
  color: var(--color-slate-500);
}
.src-components-country-select-country-select-li-6 {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: calc(var(--spacing) * 2.5);
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 2);
  font-size: var(--text-sm);
  line-height: var(--otri-leading, var(--text-sm--line-height));
}
.src-components-country-select-country-select-li-7 {
  background-color: var(--color-blue-50);
  color: #21152f;
}
.src-components-country-select-country-select-li-8 {
  color: var(--color-slate-700);
}
.src-components-country-select-country-select-span-9 {
  flex-shrink: 0;
  border-radius: 2px;
}
.src-components-country-select-country-select-span-10 {
  min-width: 0px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.src-components-country-select-country-select-span-11 {
  font-family: var(--font-mono);
  font-size: 10px;
  color: var(--color-slate-400);
}